*{                  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  /* Global */
  
body{
      font-family: "Merriweather","sans-serif"; 
      background-color: #2a2a2b ;
      overflow-x: hidden ;    
      transition: 0.5s; 
      color: aliceblue;     
}
  
ul{
      list-style-type:none;
      margin: 0;
      padding: 0;
      display: flex;
}

section{
    margin: 2rem 2rem;    
}

h1{
    font: x-large;
    font-weight: 800;
}

dd{
    padding-left: 2rem;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px; /*topbot leftright*/
}  

.navbar{
    width: 100%;
    display:block;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    position: relative;
    margin: 1.5rem 1.5rem;    
}

.navbar_items{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: row; 
}

.navbar_brand{
    width: 100%;
    margin: 2rem;
    font-size: larger;    
}

.hero_container{
    margin-top: 4rem;
    padding: 1rem 1rem;
}

.hero__container{
  display: flex;  
  justify-content: space-evenly;
  margin-top: 3.5rem;
}
.hero__container > div {
    border: 2px rgb(209, 209, 209) solid;
    background-color: rgb(48, 47, 47);
    margin: 1px 19px;
    padding: 9px 6px;
    width: 370px;
    height: 220px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(61, 61, 61, 0.1),0 4px 6px -2px rgba(65, 65, 65, 0.05);
}

h4{
    text-align: center;
} 
.about{
   text-align: center;
}

.content_box{
    padding: 5px 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill1{
    border: 1px rgb(170, 170, 170) solid; 
    text-align: center;
    width:90px;
    height: 22px;
    margin: 6px ;
    padding: 0px 20px;
    border-radius: 0.4rem ;
}
.skill2{
    border: 1px rgb(170, 170, 170)solid;  
    text-align: center; 
    padding:0px 0px;
    margin: 7px 25px;
    width:150px;
    height: 22px; 
    border-radius:0.4rem ; 
}
.skill3{
    border: 1px rgb(170, 170, 170) solid;  
    text-align: center;
    padding:0px 4px; 
    margin:7px 35px; 
    width:120px;
    height: 22px;
    border-radius:0.4rem ; 
}
.skill4{
    border: 1px rgb(170, 170, 170) solid;  
    text-align: center;
    padding:0px 4px; 
    margin:6px 36px; 
    width:340px;
    height: 25px;
    border-radius:0.4rem ; 
}

 .package{
    text-align: center;
    margin-top: 1rem;
}